.border{border: 1px solid red;}



html {height: 100%;}

body {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+0,271d32+50,383838+100 */
background: #1c1c1c; /* Old browsers */
background: -moz-linear-gradient(top,  #1c1c1c 0%, #271d32 50%, #383838 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1c1c1c 0%,#271d32 50%,#383838 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1c1c1c 0%,#271d32 50%,#383838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  font-family: Roboto, sans-serif;}

.header {
    background-color: #09090A;
    padding: 0;

  }


/*Fonts----------------------------------------*/
h1{
text-transform: uppercase;
font-size: 2.1rem;
color: #565656;
}
p{
  line-height: 70%;
}

.offline, .online{
  text-align: left;
}

.channel_name_stream {
  margin-top: 20px;
  color: #3F3F3F;
  font-size: 1.8rem;
}
.stream_name_stream{
  color: #5E5E5E;
  font-size: 1.4rem;
}
.channel_name_channel{
  margin-top: 16px;
  color: #8F6AD6;
  font-size: 1.8rem;
}
.stream_name_channel{
  color: #5C5C5C;
  font-size: 1.4rem;
}
/*Layout----------------------------------------*/
.img_center {
  margin: 2rem auto;
}

.col-lg-6, .col-md-6, .col-sm-12, .col-xs-12{
padding-left: 0px;
}
.col-lg-6, .col-md-6{
  margin-top: 2.5rem;
}
.col-lg-2, .col-md-2, .col-sm-6, .col-xs-6 {
  padding-left: 0px;
  padding-bottom: 5rem;
}
.col-sm-6, .col-xs-6{
  padding-right: 5rem;
}
.online{
  padding-bottom: 1rem;
}
.col-lg-2, .col-md-2 {
  padding-right: 3rem;
}
/*Elements----------------------------------------*/
a:hover {text-decoration: none; }
.menu{
  background-color: rgba(90, 59, 146, 0.1);
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}
hr{
  border-color: #3C3C3C;
  margin: 5rem 2rem 3rem 0rem;
}
/*Stream*/
.stream_display{
  background-color: #CCC5D5;
  padding: 0px;
  display: inline-block;
  position: relative;
}
.channel_logo_stream{
  float: left;
  margin: 8px 10px 8px 8px;
}

/*Switcher*/
ul {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
}

li {
    display: inline;
    font-size: 1.8rem;
    padding-left: 8px;
    padding-right: 8px;
    color: #565656;
    text-transform: uppercase;
}
li:hover {
  padding-bottom: 2.4rem;
  border-bottom:1px solid #8F6AD6;
  color: #8F6AD6;
}
.activated {
  padding-bottom: 2.4rem;
  border-bottom:1px solid #8F6AD6;
  color: #8F6AD6;
}

/*Play button*/
.play-button {
    height: 40px;
    width: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    position: absolute;
    left:45%;
    top:50%;
    padding: 0;
}

.play-button:hover {
    background-color: rgba(143, 106, 214, 0.9);
}

.play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 10.5px;
    left: 24px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
